[submodule "dependencies/octant-v2-core"]
	path = dependencies/octant-v2-core
	url = https://github.com/golemfoundation/octant-v2-core
	branch = develop
[submodule "lib/aave-v3-core"]
	path = lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
	branch = v1.19.4
[submodule "lib/aave-v3-periphery"]
	path = lib/aave-v3-periphery
	url = https://github.com/aave/aave-v3-periphery
	branch = v1.23.0